* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter SemiBold";
  src: url("./fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("./fonts/Inter-Bold.ttf");
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to bottom right, #111827, #300171);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Navigation */
header > nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 3rem;
}

.nav-links li a {
  color: #e8ddff;
  font-size: 1.5rem;
  font-weight: 600;
}

#logo {
  color: #e8ddff;
  padding: 0.5;
  font-size: 4rem;
  font-weight: bold;
  margin-right: 3rem;
}

/* Hero */
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  padding-top: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.hero-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-introduction h1 {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 1rem;
}

.hero-introduction h2 {
  font-family: "Inter Bold", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.hero-introduction h1 span {
  color: #6666ff;
}

.hero-introduction h2 span {
  color: #33bbff;
}

.hero-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.hero-actions #doc {
  color: black;
  font-size: large;
  padding: 1rem 2rem;
  background-color: #e8ddff;
  border-radius: 9999px;
  font-weight: 600;
}

.hero-actions #git {
  color: whitesmoke;
  font-size: large;
  padding: 1rem 2rem;
  background-color: #2f2b4a;
  border-radius: 9999px;
  font-weight: 600;
}
