<!DOCTYPE html>
<html>
  <head>
    <title>Create Vanilla Site</title>
    <meta name="description" content="Create Vanilla Site starter page" />
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/svg+xml" href="" />
  </head>

  <body>
    <header>
      <nav>
        <h1 id="logo">CVS</h1>
        <ul class="nav-links">
          <li>
            <a
              href="https://github.com/liulalemx/create-vanilla-site/blob/main/README.md"
              >Docs</a
            >
          </li>
          <li>
            <a href="https://github.com/liulalemx/create-vanilla-site/pulls"
              >FAQ</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="hero-introduction">
          <h1>Create <span>Vanilla</span> Site</h1>
          <h2>The best way to start a</h2>
          <h2><span> Vanilla </span> site</h2>
        </div>
        <div class="hero-actions">
          <a
            id="doc"
            href="https://github.com/liulalemx/create-vanilla-site/blob/main/README.md"
            >Documentation
          </a>
          <a id="git" href="https://github.com/liulalemx/create-vanilla-site"
            >GitHub</a
          >
        </div>
      </section>
    </main>

    <script src="dist/js/app.js"></script>
  </body>
</html>
